<article>
  <button {{action 'addToFavorites' model}}>Add to Favorites</button>

  <br>
  <h1>Q:</h1>
    <h2>{{model.content}}</h2>
  <p>
    {{model.author}}
  </p>
  Details:
  <p>
    {{model.notes}}
  </p>

  {{edit-question question=model editQuestion="editQuestion"}}

  <hr>

  {{new-answer question=model newAnswer="newAnswer"}}

  <h1>A:</h1>

  {{answer-tile question=model}}
</article>
